body {
  font-family: Arial;
  text-align: center;
  background: rgb(146, 206, 239);
  color: #02715b;
}

h1 {
  font-size: 40px;
}

.placar {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.time {
  background: #478fd8;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
}

p {
  font-size: 60px;
  margin: 10px 0;
}

span {
  font-size: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#historico {
  text-align: left;
  max-width: 500px;
  margin: auto;
}