:root {
    --azul-claro: #97e6fe;
    --azul: hsl(208, 94%, 69%);
    --vermelho-escuro: hsl(0, 100%, 59%);
    --branco: #e5eef7;
    --cinza: #fefefe;
    --preto: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8edf8;
}

/* HEADER */
header {
    background-color: var(--azul-claro);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

/* CENTRALIZA TUDO */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* CAIXA */
section {
    background: var(--cinza);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 500px;
}

/* TÍTULO */
h1 {
    text-align: center;
    color: var(--azul);
}

/* LABEL */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* INPUTS (todos os tipos) */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #7af2f8;
    outline: none;
    transition: 0.3s;
    box-sizing: border-box;
}

/* FOCO */
input:focus {
    background-color: var(--azul-claro);
    border-color: var(--azul-claro);
}

/* BOTÃO */
button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--azul);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #3810c8;
}

/* FOOTER */
footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-claro);
    color: black;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    padding: 10px;
}

/* ERRO */
footer.erro {
    background-color: var(--vermelho-escuro);
    color: white;
}