:root{
    --azul-claro:#80cef5;
    --azul: #229ad6;
    --azul-escuro: #16044c;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--azul-claro);
    margin: 0;
    padding: 0;
}

header{
    background-color:var(--azul);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section{
    background-color:rgb(209, 226, 235);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 300px;
}
    
h1 {
    text-align: center;
    color: var(azul-escuro);
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
    
input[type="number"] {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input[type="number"]:focus {
    background-color: #addcf3;
    border-color: var(--azul-escuro);
}

button{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--azul);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color:rgb(124, 157, 236);
}

.resultado{
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b2dbe7;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

footer.erro{
    background-color: #2d089a;
    color: white;
}
    